<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string><%= name %></string>
    <key>CFBundleName</key>
    <string><%= name %></string>
    <key>CFBundleIdentifier</key>
    <string><%= identifier %></string>
    <key>CFBundleExecutable</key>
    <string><%= executable %></string>
    <key>CFBundleIconFile</key>
    <string><%= icon %></string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string><%= version %></string>
    <key>CFBundleVersion</key>
    <string><%= version %></string>
    <key>LSMinimumSystemVersion</key>
    <string><%= min_system %></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>bDS2 Blogmark Links</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string><%= scheme %></string>
            </array>
        </dict>
    </array>
</dict>
</plist>
